<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
</head>
<body>
<h1>商品列表</h1>
<a href="#" th:href="@{/product}" class="button">產品列表</a>
<form th:action="@{/orders}" method="post">
    <table>
        <thead>
        <tr>
            <th>訂單明細流水號</th>
            <th>訂單編號 </th>
            <th>商品編號</th>
            <th>數量</th>
            <th>單價</th>
            <th>單品項總價 </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderdetail : ${orderdetails}">
            <td th:text="${orderdetail.orderitemsn}"></td>
            <td th:text="${orderdetail.orderid}"></td>
            <td th:text="${orderdetail.productid}"></td>
            <td th:text="${orderdetail.quantity}"></td>
            <td th:text="${orderdetail.standprice}"></td>
            <td th:text="${orderdetail.itemprice}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${success}" class="success"style="text-align: center;">
        <p th:text="${success}"></p>
    </div>
</form>
</body>
</html>
